@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(40, 38, 49);
  font-family: "Noto Sans", sans-serif;
}

header {
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-box {
  display: flex;
  justify-content: center;
  margin-top: 1.9rem;
}

.score-container {
  border: 2px solid white;
  height: 100px;
  width: 230px;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  width: 40px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userlabel {
  left: -1.2em;
}

.cpulabel {
  right: -1.2em;
}

.points {
  color: white;
  font-size: 2em;
}

.creador {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.creador p {
  color: white;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: bolder;
}

.picturesbox {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.picture {
  border: 2px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  cursor: pointer;
}

.picture:hover {
  animation-name: animation;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  background-color: white;
  transition: background-color 1000ms;
}

.rock {
  background-image: url(../img/rock.jpg);
}

.paper {
  background-image: url(../img/paper.jpg);
}
.scissors {
  background-image: url(../img/scissors.jpg);
}

.movebox {
  display: flex;
  justify-content: center;
}
.movebox p {
  margin-top: 2em;
  color: white;
  font-size: 1.6em;
  font-weight: bolder;
}

@keyframes animation {
  from {
  }

  to {
    transform: rotateZ(360deg);
  }
}
